/** @type {import('next').NextConfig} */
const nextConfig = {
    experimental: {
      appDir: true, // Engedélyezi az új `app` alapú struktúrát
    },
    reactStrictMode: true, // (opcionális) React szigorú mód használata
    swcMinify: true, // (opcionális) SWC minifikáció engedélyezése a build gyorsításához
    images: {
      domains: [], // (opcionális) Ha külső képforrást használsz, add hozzá ide
    },
  };
  
  module.exports = nextConfig;
  